body {
  font-family: system-ui, sans-serif;
  background-color: #1e1e1e;
  color: #d4d4d4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: #569;
}